@use "src/styles/colours.scss" as col;

.tournament {
  margin-top: 0;
  text-decoration: none;
}

.players {
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.player {
  list-style: none;
  display: grid;
  grid-template-columns: 50px auto;
  justify-content: start;
  gap: 16px;

  .placement {
    justify-self: end;
  }
}

.event {
  margin-bottom: 0;
}

.missing {
  display: inline-block;
  background-color: col.$grey-100;

  span {
    text-decoration: line-through;
  }
}

.notFound {
  font-size: 18px;
}
