@use "src/styles/colours.scss" as col;
@use "src/styles/fonts.scss" as font;

.button {
  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background-color: col.$grey-200;
    color: col.$black;
  }
}

button.button {
  position: relative;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: col.$green-1200;
  font-family: font.$button;

  &:hover:not(:disabled) {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
  }

  &:active {
    background-color: col.$black;
    color: col.$white;
  }

  &:focus {
    box-shadow: 0 0 5px 1px col.$focus;
  }
}
