@use "src/styles/spacing.scss" as spc;

.section {
  h2 {
    margin-top: spc.$sectionHeadingTop;
    margin-bottom: spc.$sectionHeadingBottom;
  }
  margin-bottom: spc.$sectionBottom;

  ul li {
    margin-bottom: 2px;
  }
}

.preview {
  margin-top: 24px;
  margin-bottom: 32px;
}
