// @use "src/styles/spacing.scss" as spc;

$pagePaddingTop: 150px;
$pagePaddingX: 12px;
$contentWidthMobile: 500px;
$contentWidthTablet: 500px;
$contentWidthDesktop: 800px;

$sectionHeadingTop: 32px;
$sectionHeadingBottom: 28px;
$sectionBottom: 18px;

$mobile: 300px;
$tablet: 600px;
$desktop: 992px;
